---
import TitleComponent from "@/components/TitleComponent.astro";
import TextTyping from "@/components/TextTyping.astro";
import Layout from "../layouts/PageLayout.astro";
import PageMeta from "@/data/business";
import { Icon } from "astro-icon/components";
import titleIcon_01 from "@/assets/icons/titleIcon_01.jpg";
import titleIcon_02 from "@/assets/icons/titleIcon_02.jpg";
import titleIcon_03 from "@/assets/icons/titleIcon_03.jpg";
import graph_01 from "@/assets/icons/graph_01.png";
import graph_02 from "@/assets/icons/graph_02.png";
import RingLoop from "@/components/3DLoopSection.astro";
import rings_03 from "@/assets/images/rings_03.jpg";
import { Image } from "astro:assets";

const { titles } = PageMeta;
---

<Layout title="saharaa.ai" active="business" isFooterSlot={true}>
  <slot slot="base-layout">
    <div
      id="sectionHero"
      class="w-screen h-screen first-screen-bottom-mask-wrap relative"
    >
    </div>

    <div
      id="sectionTitle"
      class="w-screen h-screen absolute left-0 top-0 pointer-events-none"
    >
      <TitleComponent titles={titles} />
    </div>
  </slot>
  <h1
    id="sectionBusiness"
    class="text-h2 font-[Manrope] text-center pt-[15.375rem] pb-[7.5rem] tablet:text-h5 tablet:pt-[3.75rem] tablet:pb-11"
  >
    Automate Your business
  </h1>
  <div
    class="flex gap-x-[3.125rem] font-[Manrope] mb-[3.75rem] tablet:flex-col tablet:items-center tablet:text-center tablet:mb-0"
  >
    <div
      class="common-up-move flex-1 border-b border-b-dark-100 tablet:border-none"
    >
      <div
        class="w-[7.5rem] mb-[3.75rem] tablet:mx-auto tablet:mb-4 mobile:w-20"
      >
        <img class="w-full" src={titleIcon_01.src} alt="logo" />
      </div>
      <h2 class="text-h5 tablet:text-s3">Create</h2>
      <h2 class="text-h5 tablet:text-s3">Proprietary AI Agents</h2>
      <div
        class="text-base tablet:text-sm tablet:w-[30rem] mobile:w-full text-light-200 mt-8 tablet:mt-4 h-[8.75rem] tablet:h-[6.875rem] mobile:h-[8.125rem]"
      >
        Build Sahara Knowledge Agents as custom on-premise AI solutions that
        save costs, drive growth, and enable new business opportunities.
      </div>
    </div>
    <div
      class="common-up-move flex-1 border-b border-b-dark-100 tablet:border-none"
    >
      <div
        class="w-[7.5rem] mb-[3.75rem] tablet:mx-auto tablet:mb-4 mobile:w-20"
      >
        <img class="w-full" src={titleIcon_02.src} alt="logo" />
      </div>
      <h2 class="text-h5 tablet:text-s3">Maximize</h2>
      <h2 class="text-h5 tablet:text-s3">Business Efficiency</h2>
      <div
        class="text-base tablet:text-sm tablet:w-[30rem] mobile:w-full text-light-200 mt-8 tablet:mt-4 h-[8.75rem] tablet:h-[6.875rem] mobile:h-[8.125rem]"
      >
        Elevate productivity through workflow automation, predictive analytics,
        personalized experiences, resource optimization, and supply chain
        enhancement.
      </div>
    </div>
    <div
      class="common-up-move flex-1 border-b border-b-dark-100 tablet:border-none"
    >
      <div
        class="w-[7.5rem] mb-[3.75rem] tablet:mx-auto tablet:mb-4 mobile:w-20"
      >
        <img class="w-full" src={titleIcon_03.src} alt="logo" />
      </div>
      <h2 class="text-h5 tablet:text-s3">Leverage</h2>
      <h2 class="text-h5 tablet:text-s3">Global Knowledge Capital</h2>
      <div
        class="text-base tablet:text-sm tablet:w-[30rem] mobile:w-full text-light-200 mt-8 tablet:mt-4 h-[8.75rem] tablet:h-[6.875rem] mobile:h-[8.125rem]"
      >
        Participate in Sahara Data, a trustless, permissionless, and
        privacy-preserving platform for high-value datasets and data services to
        train AI.
      </div>
    </div>
  </div>
  <div
    id="bookDemo2"
    class="mx-auto w-[27rem] tablet:w-40 mobile:w-full mobile:text-xs border whitespace-nowrap text-sm  h-11 py-2.5 px-4 flex items-center justify-center rounded-xl common-button"
  >
    Book a Demo
    <Icon class="w-5 h-5" name="arrowRightUp" />
  </div>
  <div
    class="flex mt-40 mb-[3.75rem] tablet:mt-[3.75rem] tablet:flex-col tablet:mb-0"
  >
    <div
      class="py-[7.25rem] w-[40rem] font-[Manrope] tablet:py-[3.75rem] tablet:w-full tablet:text-center"
    >
    <div class="justify-center hidden tablet:flex mb-7">
      <Image class="w-60 h-60" src={rings_03} alt=""/>
    </div>
    <div class="bg-dark-200 w-[7.5rem] text-base mx-auto rounded-[1.25rem] tablet:block hidden mobile:w-[6rem] mobile:text-mx">Business</div>
      <div
        class="text-h2 whitespace-nowrap font-[Manrope] text-light-200 tablet:text-h5"
      >
        Sahara<span class="tablet:hidden"> Business</span>
      </div>
      <div class="text-h2 whitespace-nowrap font-[Manrope] tablet:text-h5">
        Knowledge
      </div>
      <div class="text-h2 whitespace-nowrap font-[Manrope] tablet:text-h5">
        Agent (KA)
      </div>
      <div
        class="text-light-100 text-s3 mt-[3.75rem] tablet:mt-0 tablet:py-4 tablet:justify-center tablet:text-base tablet:w-[30rem] mobile:w-full tablet:mx-auto"
      >
        Sahara KA Business extends far beyond conversational capabilities,
        autonomously analyzing both external and internal proprietary data to
        offer reliable decision-making tailored to specific needs.
      </div>
    </div>
    <div class="flex-1 flex justify-center items-center tablet:hidden">
      <RingLoop />
    </div>
  </div>
  <div
    class="grid grid-cols-4 font-[Manrope] tablet:grid-cols-2 text-s3 tablet:text-mx"
  >
    <div
      class="tablet:pl-[6.25rem] pb-5 tablet:pb-[2.375rem] mobile:py-0 mobile:px-5 mobile:h-[6.25rem]"
    >
      <Icon class="w-8 h-8" name="lightning" />
      <div class="mt-4 mobile:mt-3">Boost conversion rates</div>
    </div>
    <div
      class="tablet:pl-[6.25rem] pb-5 tablet:pb-[2.375rem] mobile:py-0 mobile:px-5 mobile:h-[6.25rem]"
    >
      <Icon class="w-8 h-8" name="trend_up" />
      <div class="mt-4 mobile:mt-3">Increase User Retention</div>
    </div>
    <div
      class="tablet:pl-[6.25rem] pb-5 tablet:pb-[2.375rem] mobile:py-0 mobile:px-5 mobile:h-[6.25rem]"
    >
      <Icon class="w-8 h-8" name="hands_clapping" />
      <div class="mt-4 mobile:mt-3">Drive fan Interactions</div>
    </div>
    <div
      class="tablet:pl-[6.25rem] pb-5 tablet:pb-[2.375rem] mobile:py-0 mobile:px-5 mobile:h-[6.25rem]"
    >
      <Icon class="w-8 h-8" name="folders" />
      <div class="mt-4 mobile:mt-3">Optimize Industrial Operations</div>
    </div>
  </div>
  <div
    class="flex flex-col font-[Manrope] justify-center items-center mt-[11.625rem] mb-[9.5rem] mobile:mb-20 tablet:mt-10"
  >
    <div
      class="bg-dark-200 flex items-center w-max px-5 py-2.5 mb-11 tablet:mb-7 text-h5 tablet:text-s3 rounded-[1.25rem] mobile:w-full"
    >
      <div class="w-2.5 h-2.5 bg-light-100 rounded-full mr-2.5 mobile:mr-1.5">
      </div>
      Sahara KA Business is live
    </div>
    <div
      class="text-s3 w-[68rem] text-center tablet:text-mx tablet:w-[25rem] mobile:w-[19.5rem]"
    >
      Build your Sahara KAs today as custom on-premise AI solutions that save
      costs, drive growth, and enable new business opportunities.
    </div>
    <div
      id="bookDemo1"
      class="mx-auto mt-11 tablet:mt-7 mb-[3.75rem] w-[27rem] tablet:w-[30rem] mobile:w-[19.5rem] mobile:text-sm mobile:mb-10 flex whitespace-nowrap common-button text-base py-2.5 px-4 items-center justify-center rounded-xl"
    >
      Book a Demo
      <Icon class="w-5 h-5" name="arrowRightUp" />
    </div>
  </div>
  <div
    class="grid grid-cols-12 tablet:flex tablet:flex-col gap-x-7 py-[3.75rem] mobile:pt-20 font-[Manrope] border-b mb-[7.5rem] mobile:mb-0 border-b-dark-100 tablet:border-none"
  >
    <div
      class="col-span-4 text-h2 mobile:text-h4 mobile:text-center flex flex-col justify-center tablet:items-center"
    >
      <div class="w-[21rem] tablet:text-center tablet:text-h4 mobile:text-m2">
        <TextTyping text="Sahara Data." />
      </div>
    </div>
    <div
      class="col-span-2 gap-x-4 flex items-center tablet:justify-center tablet:my-8"
    >
      <Icon class="w-7 h-7 mobile:w-5 mobile:h-5" name="brandLogo" />
      <Icon
        class="w-7 h-7 mobile:w-5 mobile:h-5 text-light-200"
        name="brandLogo"
      />
      <Icon
        class="w-7 h-7 mobile:w-5 mobile:h-5 text-light-300"
        name="brandLogo"
      />
      <Icon
        class="w-7 h-7 mobile:w-5 mobile:h-5 text-light-300"
        name="brandLogo"
      />
    </div>
    <div
      class="col-span-6 text-light-200 text-s3 mobile:text-sm pl-[54px] tablet:pl-0"
    >
      <div class="mb-10 tablet:text-sm tablet:w-[30rem] mobile:w-full tablet:mx-auto tablet:text-center">
        Sahara Data is an end-to-end platform designed to meet the most
        challenging training data demands.
      </div>
      <div class="tablet:w-[30rem] tablet:text-sm mobile:w-full tablet:mx-auto tablet:text-center">
        The platform, <span class="text-light-100"
          >decentralized or on-premise,</span
        > offers an intelligent AI-centered, human-in-the-loop, and privacy-preserving
        approach to generate <span class="text-light-100">High Value</span> datasets
        for your AI.
      </div>
    </div>
  </div>
  <div class="font-[Manrope] mb-[7.5rem] tablet:mb-[3.75rem]">
    <div
      class="text-light-200 text-h5 mobile:text-s3 mobile:text-center mb-[3.75rem] mobile:mb-8"
    >
      Sahara Data by Uses
    </div>
    <div class="mb-8 grid grid-cols-12 gap-x-7 tablet:gap-x-2">
      <div
        class="flex items-center text-[2rem] col-span-4 tablet:text-base tablet:mb-3 tablet:col-span-12 mobile:justify-center"
      >
        <Icon
          class="min-w-8 h-8 tablet:w-6 tablet:h-6 mr-5 tablet:mr-3"
          name="text"
        />
        Text
      </div>
      <div
        class="col-span-2 tablet:col-span-3 mobile:col-span-12 mobile:h-11 mobile:rounded-xl mobile:mb-2 border border-light-300 rounded-[1.25rem] h-[7.5rem] tablet:h-[5.5rem] flex relative items-end p-4 tablet:pb-3 tablet:pt-2"
      >
        <Icon class="w-5 h-5 absolute mobile:top-2.5 right-4" name="Pin" />
        <span class="text-base tablet:text-xs">RLHF for LLM</span>
      </div>
      <div
        class="col-span-2 tablet:col-span-3 mobile:col-span-12 mobile:h-11 mobile:rounded-xl mobile:mb-2 border border-light-300 rounded-[1.25rem] h-[7.5rem] tablet:h-[5.5rem] flex relative items-end p-4 tablet:pb-3 tablet:pt-2"
      >
        <Icon class="w-5 h-5 absolute mobile:top-2.5 right-4" name="Pin" />
        <span class="text-base tablet:text-xs"
          >Multimodal prompt generation</span
        >
      </div>
      <div
        class="col-span-2 tablet:col-span-3 mobile:col-span-12 mobile:h-11 mobile:rounded-xl mobile:mb-2 border border-light-300 rounded-[1.25rem] h-[7.5rem] tablet:h-[5.5rem] flex relative items-end p-4 tablet:pb-3 tablet:pt-2"
      >
        <Icon class="w-5 h-5 absolute mobile:top-2.5 right-4" name="Pin" />
        <span class="text-base tablet:text-xs">LLM bias detection</span>
      </div>
      <div
        class="col-span-2 tablet:col-span-3 mobile:col-span-12 mobile:h-11 mobile:rounded-xl border border-light-300 rounded-[1.25rem] h-[7.5rem] tablet:h-[5.5rem] flex relative items-end p-4 tablet:pb-3 tablet:pt-2"
      >
        <Icon class="w-5 h-5 absolute mobile:top-2.5 right-4" name="Pin" />
        <span class="text-base tablet:text-xs">Content moderation</span>
      </div>
    </div>
    <div class="mb-8 grid grid-cols-12 gap-x-7 tablet:gap-x-2">
      <div
        class="flex items-center text-[2rem] col-span-4 tablet:text-base tablet:mb-3 tablet:col-span-12"
      >
        <Icon
          class="w-8 h-8 tablet:w-6 tablet:h-6 mr-5 tablet:mr-3"
          name="image"
        />
        Image & Video
      </div>
      <div
        class="col-span-2 tablet:col-span-3 mobile:col-span-12 mobile:h-11 mobile:rounded-xl mobile:mb-2 border border-light-300 rounded-[1.25rem] h-[7.5rem] tablet:h-[5.5rem] flex relative items-end p-4 tablet:pb-3 tablet:pt-2"
      >
        <Icon class="w-5 h-5 absolute mobile:top-2.5 right-4" name="Pin" />
        <span class="text-base tablet:text-xs">Objection detection</span>
      </div>
      <div
        class="col-span-2 tablet:col-span-3 mobile:col-span-12 mobile:h-11 mobile:rounded-xl mobile:mb-2 border border-light-300 rounded-[1.25rem] h-[7.5rem] tablet:h-[5.5rem] flex relative items-end p-4 tablet:pb-3 tablet:pt-2"
      >
        <Icon class="w-5 h-5 absolute mobile:top-2.5 right-4" name="Pin" />
        <span class="text-base tablet:text-xs">Multimedia classification</span>
      </div>
      <div
        class="col-span-2 tablet:col-span-3 mobile:col-span-12 mobile:h-11 mobile:rounded-xl mobile:mb-2 border border-light-300 rounded-[1.25rem] h-[7.5rem] tablet:h-[5.5rem] flex relative items-end p-4 tablet:pb-3 tablet:pt-2"
      >
        <Icon class="w-5 h-5 absolute mobile:top-2.5 right-4" name="Pin" />
        <span class="text-base tablet:text-xs">Image collection</span>
      </div>
      <div
        class="col-span-2 tablet:col-span-3 mobile:col-span-12 mobile:h-11 mobile:rounded-xl border border-light-300 rounded-[1.25rem] h-[7.5rem] tablet:h-[5.5rem] flex relative items-end p-4 tablet:pb-3 tablet:pt-2"
      >
        <Icon class="w-5 h-5 absolute mobile:top-2.5 right-4" name="Pin" />
        <span class="text-base tablet:text-xs">Semantic segmentation</span>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-x-7 tablet:gap-x-2">
      <div
        class="flex items-center text-[2rem] col-span-4 tablet:text-base tablet:mb-3 tablet:col-span-12"
      >
        <Icon
          class="w-8 h-8 tablet:w-6 tablet:h-6 mr-5 tablet:mr-3"
          name="music"
        />
        Audio
      </div>
      <div
        class="col-span-2 tablet:col-span-3 mobile:col-span-12 mobile:h-11 mobile:rounded-xl mobile:mb-2 border border-light-300 rounded-[1.25rem] h-[7.5rem] tablet:h-[5.5rem] flex relative items-end p-4 tablet:pb-3 tablet:pt-2"
      >
        <Icon class="w-5 h-5 absolute mobile:top-2.5 right-4" name="Pin" />
        <span class="text-base tablet:text-xs">Text-to-speech</span>
      </div>
      <div
        class="col-span-2 tablet:col-span-3 mobile:col-span-12 mobile:h-11 mobile:rounded-xl mobile:mb-2 border border-light-300 rounded-[1.25rem] h-[7.5rem] tablet:h-[5.5rem] flex relative items-end p-4 tablet:pb-3 tablet:pt-2"
      >
        <Icon class="w-5 h-5 absolute mobile:top-2.5 right-4" name="Pin" />
        <span class="text-base tablet:text-xs"
          >Multilingual audio collection
        </span>
      </div>
      <div
        class="col-span-2 tablet:col-span-3 mobile:col-span-12 mobile:h-11 mobile:rounded-xl mobile:mb-2 border border-light-300 rounded-[1.25rem] h-[7.5rem] tablet:h-[5.5rem] flex relative items-end p-4 tablet:pb-3 tablet:pt-2"
      >
        <Icon class="w-5 h-5 absolute mobile:top-2.5 right-4" name="Pin" />
        <span class="text-base tablet:text-xs">Audio classification</span>
      </div>
      <div
        class="col-span-2 tablet:col-span-3 mobile:col-span-12 mobile:h-11 mobile:rounded-xl border border-light-300 rounded-[1.25rem] h-[7.5rem] tablet:h-[5.5rem] flex relative items-end p-4 tablet:pb-3 tablet:pt-2"
      >
        <Icon class="w-5 h-5 absolute mobile:top-2.5 right-4" name="Pin" />
        <span class="text-base tablet:text-xs">Audio transcription</span>
      </div>
    </div>
  </div>
  <div class="font-[Manrope] mb-[16.25rem] tablet:mb-[3.75rem] mobile:mb-20">
    <div
      class="text-light-200 text-h5 leading-[3rem] mb-[3.75rem] tablet:text-s3 tablet:mb-7 mobile:text-center"
    >
      Sahara Data by numbers
    </div>
    <div
      class="gap-x-7 grid grid-cols-5 mobile:grid-cols-2 tablet:gap-0 mobile:text-center mobile:gap-y-7"
    >
      <div>
        <div class="text-h4 tablet:text-h5 mobile:text-s2 pb-3">31+</div>
        <div class="text-s3 tablet:text-mx">Enterprise Clients</div>
      </div>
      <div>
        <div class="text-h4 tablet:text-h5 mobile:text-s2 pb-3">35+</div>
        <div class="text-s3 tablet:text-mx">Countries</div>
      </div>
      <div>
        <div class="text-h4 tablet:text-h5 mobile:text-s2 pb-3">45+</div>
        <div class="text-s3 tablet:text-mx">Languages & Dialects</div>
      </div>
      <div>
        <div class="text-h4 tablet:text-h5 mobile:text-s2 pb-3">150+</div>
        <div class="text-s3 tablet:text-mx">Partner providers</div>
      </div>
      <div class="mobile:col-span-2">
        <div class="text-h4 tablet:text-h5 mobile:text-s2 pb-3">30,000+</div>
        <div class="text-s3 tablet:text-mx">Vetted AI Trainers</div>
      </div>
    </div>
  </div>
  <div
    class="grid grid-cols-12 gap-x-7 tablet:flex flex-col items-center py-[3.75rem] font-[Manrope] mb-[4.125rem] tablet:mb-0 mobile:py-20"
  >
    <div class="col-span-4 text-h2 mobile:text-h4">
      <div class="tablet:text-center">Why</div>
      <div class="tablet:text-center">Sahara</div>
      <div class="tablet:text-center">Data</div>
    </div>
    <div class="col-span-2 gap-x-4 tablet:gap-3 flex items-center tablet:my-8">
      <Icon class="w-7 h-7 mobile:w-5 mobile:h-5" name="brandLogo" />
      <Icon
        class="w-7 h-7 mobile:w-5 mobile:h-5 text-light-200"
        name="brandLogo"
      />
      <Icon
        class="w-7 h-7 mobile:w-5 mobile:h-5 text-light-300"
        name="brandLogo"
      />
      <Icon
        class="w-7 h-7 mobile:w-5 mobile:h-5 text-light-300"
        name="brandLogo"
      />
    </div>
    <div
      class="col-span-6 text-s3 text-light-200 pl-[3.125rem] flex flex-col justify-center tablet:text-sm tablet:text-center tablet:w-[30rem] mobile:text-sm mobile:w-full tablet:pl-0"
    >
      Sahara Data harnesses advanced AI and blockchain technology to optimize
      labeling workflow and offer unparalleled data quality at a competitive
      price.
    </div>
  </div>
  <div
    class="mt-[3.75rem] mobile:mt-20 border border-light-300 rounded-[3.125rem] font-[Manrope]"
  >
    <div class="flex flex-nowrap overflow-hidden">
      <div
        class="grid grid-cols-2 col-span-1 gap-x-32 tablet:gap-x-8 min-w-full p-[3.75rem] tablet:pt-7 pb-0 tablet:px-5 mobile:grid-cols-1 mobile:px-4"
        id="content1"
      >
        <div class="col-span-1 flex items-center">
          <img class="w-full" src={graph_01.src} alt="" />
        </div>

        <div class="col-span-1 flex flex-col justify-center">
          <div class="text-h5 mb-11 tablet:text-s3 tablet:mb-5 mobile:pt-7">
            Redefine Human-AI Collaboration
          </div>
          <div class="flex items-center text-[2rem] mb-1.5 tablet:text-sm">
            <Icon
              class="w-7 h-7 mr-7 tablet:w-5 tablet:h-5 tablet:mr-3"
              name="brandLogo"
            />
            Automatic Labeling
          </div>
          <div
            class="pl-14 tablet:pl-8 text-light-200 text-base mb-10 tablet:text-mx tablet:mb-5"
          >
            Proprietary models fuel auto-labeling that matches human performance
            on mainstream tasks.
          </div>
          <div class="flex items-center text-h5 mb-1.5 tablet:text-sm">
            <Icon
              class="min-w-7 h-7 mr-7 tablet:min-w-5 tablet:h-5 tablet:mr-3"
              name="brandLogo"
            />
            Human-in-the-loop Infrastructure
          </div>
          <div
            class="pl-14 tablet:pl-8 text-light-200 text-base mb-10 tablet:text-mx tablet:mb-5"
          >
            Humans meticulously check and refine auto-labeling results until the
            desired quality is achieved.
          </div>
          <div class="flex items-center text-h5 mb-1.5 tablet:text-sm">
            <Icon
              class="w-7 h-7 mr-7 tablet:w-5 tablet:h-5 tablet:mr-3"
              name="brandLogo"
            />
            Continuous Learning
          </div>
          <div
            class="pl-14 tablet:pl-8 text-light-200 text-base tablet:text-mx"
          >
            Models learn from human input, iteratively improving the labeling
            quality.
          </div>
        </div>
      </div>
      <div
        class="flex col-span-1 gap-x-32 tablet:gap-x-8 min-w-full p-[3.75rem] pb-0 mobile:flex-col mobile:p-3 mobile:px-4 tablet:px-5"
        id="content2"
      >
        <div class="flex-1 flex items-center">
          <img class="w-full" src={graph_02.src} alt="" />
        </div>
        <div class="flex-1 flex flex-col justify-center mobile:justify-start mobile:pt-7">
          <div class="text-h5 mb-11 tablet:text-s3 tablet:mb-5">
            Optimal Balance Between AI and Human Input
          </div>
          <div class="flex items-center tablet:items-start mobile:text-mx text-base text-light-200">
            <Icon class="w-7 h-7 mr-7 tablet:min-w-5 tablet:h-5 tablet:mr-3" name="brandLogo" />
            Sahara Data incorporates human input with precision until optimal quality
            is achieved. This way, you won't spend extra time or money while still
            obtaining the best quality.
          </div>
        </div>
      </div>
    </div>
    <div class="py-[2.5rem] tablet:py-5 flex items-center justify-center">
      <div
        class="bg-[#D9D9D9] w-2.5 h-2.5 tablet:w-1.5 tablet:h-1.5 rounded-full mr-2.5 tablet:mr-1.5 cursor-pointer"
        id="slider1"
      >
      </div>
      <div
        class="bg-[#D9D9D9] bg-opacity-40 w-2.5 h-2.5 tablet:w-1.5 tablet:h-1.5 rounded-full cursor-pointer"
        id="slider2"
      >
      </div>
    </div>
  </div>
  <div
    class="mb-[7.5rem] mt-[3.75rem] tablet:mt-7 py-[3.75rem] font-[Manrope] flex flex-col items-center"
  >
    <div
      class="bg-dark-200 rounded-[1.25rem] w-[22.5rem] tablet:w-[15rem] tablet:px-1 px-5 py-2.5 text-h5 tablet:text-s3 flex justify-center items-center"
    >
      <div class="w-2.5 h-2.5 tablet:w-2 tablet:h-2 bg-light-100 rounded-full mr-4 tablet:mr-2"></div>Sahara Data
      is live
    </div>
    <div
      class="my-11 tablet:my-7 pt-1.5 text-h5 tablet:text-mx tablet:w-[30rem] mobile:w-full text-center"
    >
      Talk to us today about the unique data solution for your AI training
      needs.
    </div>
    <div
      id="bookDemo"
      class="mx-auto w-[27rem] tablet:w-max border whitespace-nowrap text-sm py-2.5 px-4 flex items-center justify-center rounded-xl common-button"
    >
      Book a Demo
      <Icon class="w-5 h-5" name="arrowRightUp" />
    </div>
  </div>
  <!-- <AutomateSection /> -->
  <div slot="footer">
    <h1 class="text-h1 tablet:text-h3 mobile:text-h4 tablet:text-center font-[Manrope]">
      Your Ultimate Partner
    </h1>
    <h1 class="text-h1 tablet:text-h3 mobile:text-h4 tablet:text-center font-[Manrope]">
      for High Value Data
    </h1>
  </div>
</Layout>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import HeroView from "@/webgl/HeroView";
  import { makeCommonAppearEffect } from "@/utils/gsap.utils";

  gsap.registerPlugin(ScrollTrigger);
  makeCommonAppearEffect();

  function bookDemo () {
    window.open("https://hi.saharalabs.ai/get-in-touch-business", "_blank");
  }
  document.getElementById("bookDemo")?.addEventListener("click", bookDemo);
  document.getElementById("bookDemo1")?.addEventListener("click", bookDemo);
  document.getElementById("bookDemo2")?.addEventListener("click", bookDemo);

  const heroEl = document.getElementById("sectionHero");
  if (heroEl) {
    const viewer = new HeroView(heroEl, { layout: "two" });
    viewer.useSetup();
    viewer.play();
    gsap.to(heroEl, {
      scrollTrigger: {
        trigger: "#sectionBusiness",
        start: "top bottom",
        end: "top top-=30",
        scrub: true,
        onEnterBack: () => {
          viewer.play();
        },
        onLeave: () => {
          viewer.stop();
        },
      },
      opacity: 0,
    });
  }

  // const titleEl = document.getElementById("sectionTitle");
  // if (titleEl) {
  //   gsap.to(titleEl, {
  //     scrollTrigger: {
  //       trigger: "#sectionBusiness",
  //       start: "top bottom",
  //       end: "top top",
  //       scrub: true,
  //     },
  //     opacity: 0,
  //     y: "-50%",
  //   });
  // }

  // 获取元素
  const slider1 = document.getElementById("slider1") as HTMLElement;
  const slider2 = document.getElementById("slider2") as HTMLElement;
  const content1 = document.getElementById("content1");
  const content2 = document.getElementById("content2");

  // 添加事件监听器
  slider2.addEventListener("click", () => {
    // 使用 GSAP 来平滑地切换内容
    gsap.to(content1, {
      duration: 0.5,
      ease: "power1.inOut",
      x: "-100%",
    });
    gsap.to(content2, {
      duration: 0.5,
      ease: "power1.inOut",
      x: "-100%",
    });
    slider1.classList.toggle("bg-opacity-40");
    slider2.classList.toggle("bg-opacity-40");
  });
  // 添加事件监听器
  slider1.addEventListener("click", () => {
    // 使用 GSAP 来平滑地切换内容
    gsap.to(content1, {
      duration: 0.5,
      ease: "power1.inOut",
      x: "0",
    });
    gsap.to(content2, {
      duration: 0.5,
      ease: "power1.inOut",
      x: "0",
    });
    slider1.classList.toggle("bg-opacity-40");
    slider2.classList.toggle("bg-opacity-40");
  });
</script>
<style></style>
