---
import navData, { type PageRoutes } from "../data/nav";
import { Icon } from "astro-icon/components";
import CloseImage from "@/assets/icons/close_line_768_375.svg";

interface Props {
  active?: PageRoutes;
  positionType?: "fixed" | "sticky";
}

const homeUrl = `${import.meta.env.BASE_URL}`;
const { positionType = "fixed" } = Astro.props;

const routes: Array<{ name: string; path: string; flag: string }> = [];
const aboutUsRoutes: Array<{ name: string; path: string; flag: string }> = [];
navData.nav.forEach((nav) => {
  if (nav.name !== "About Us") {
    routes.push({
      name: nav.name,
      path: `${import.meta.env.BASE_URL}${nav.path}`,
      flag: nav.path,
    });
  } else {
    aboutUsRoutes.push(
      ...nav.subPath.map((nav) => ({
        name: nav.name,
        path: `${import.meta.env.BASE_URL}${nav.path}`,
        flag: nav.path,
      })),
    );
  }
});
---

<div
  class="px-[1.5rem] pt-3 w-screen z-[100] hidden tablet:flex top-0 left-0 justify-between"
  class:list={[
    positionType === "sticky"
      ? "sticky h-0 pb-0 bg-[#121315] header-top-mask-wrap"
      : "fixed pb-[0.75rem] header",
  ]}
>
  <div class="flex">
    <a href={homeUrl} class="logo w-8">
      <Icon class="w-8 h-8 text-white" name="brandLogo" />
    </a>
  </div>
  <div class="flex-1 bg-opacity-0 pointer-events-none"></div>
  <div>
    <Icon
      class="w-8 h-8 text-white cursor-pointer"
      id="mobile-menu-open-btn"
      name="menu_768_375"
    />
  </div>
</div>
<div
  class="bg-dark-400 w-screen h-screen flex-col fixed top-0 z-[999] left-0 hidden"
  id="mobiel-menu-body"
>
  <div class="flex w-screen justify-between h-[3.5rem] py-3 px-5">
    <a href={homeUrl} class="logo w-8">
      <Icon class="w-8 h-8 text-white" name="brandLogo" />
    </a>
    <div class="w-8 min-w-2">
      <img
        class="w-8 h-8 text-white cursor-pointer"
        id="mobile-menu-close-btn"
        src={CloseImage.src}
        alt="close menu"
      />
    </div>
  </div>
  <div class="text-s3 font-[Manrope] px-6 py-1.5 border-b border-b-dark-200">
    Menu
  </div>
  {
    routes.map((item) => (
      <a
        class="text-light-200 text-sm px-6 py-3 border-b border-b-dark-200"
        href={item.path}
      >
        {item.name}
      </a>
    ))
  }
  <div class="border-b text-light-200 text-sm border-b-dark-200">
    <div class="px-6 py-3 flex justify-between items-center" id="aboutUs">
      About Us<Icon
        class="w-4 h-4 rotate-180"
        id="icon"
        name="arrowCorner_768_375"
      />
    </div>
    <div class="flex-col hidden" id="menus">
      {
        aboutUsRoutes.map((item) => (
          <a class="px-6 py-3" href={item.path}>
            {item.name}
          </a>
        ))
      }
    </div>
  </div>
  <!-- <div class="border-t border-t-dark-200 absolute bottom-0 p-6 w-full">
    <div class="font-[Manrope] text-s3 leading-6">Join Waitlist</div>
    <div class="font-[Manrope] text-light-200 text-[1rem] leading-7">
      Subscribe to the Sahara newsletter for exclusive updates.
    </div>
    <div class="mt-[0.875rem] flex">
      <div
        class="border flex-1 border-light-100 flex px-4 py-2.5 items-center bg-dark-400 rounded-xl text-sm"
      >
        <Icon class="w-5 h-5 mr-1.5" name="email" />
        Your e-mail
      </div>
      <div
        class="flex ml-2 items-center bg-light-100 px-4 py-2.5 rounded-xl text-dark-400"
      >
        Subscribe<Icon class="w-5 h-5" name="arrowRightUp" />
      </div>
    </div>
  </div> -->
</div>

<script>
  const menuBody = document.getElementById("mobiel-menu-body") as HTMLElement;
  const aboutUs = document.getElementById("aboutUs") as HTMLElement;
  const menus = document.getElementById("menus") as HTMLElement;
  const icon = document.getElementById("icon") as HTMLElement;
  aboutUs.addEventListener(
    "click",
    () => {
      aboutUs.classList.toggle("open");
      icon.classList.toggle("rotate-180");
      menus.classList.toggle("!flex");
    },
    false,
  );
  document.getElementById("mobile-menu-open-btn")?.addEventListener(
    "click",
    () => {
      menuBody.style.display = "flex";
      document.body.style.overflow = "hidden";
    },
    false,
  );

  document.getElementById("mobile-menu-close-btn")?.addEventListener(
    "click",
    () => {
      menuBody.style.display = "none";
      document.body.style.overflow = "";
    },
    false,
  );
</script>
<style>
  .header {
    background: linear-gradient(
      to bottom,
      rgba(18, 19, 21, 1),
      rgba(18, 19, 21, 0)
    );
  }
  .header-top-mask-wrap::after {
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2rem;
    pointer-events: none;
    background: linear-gradient(
      to bottom,
      rgba(18, 19, 21, 1),
      rgba(18, 19, 21, 0)
    );
    z-index: -1;
  }
</style>
